# python
ruff
python-dotenv

# web clients
zulip
PyGithub # unused for now

# data
duckdb>=0.9.0
ibis-framework[duckdb,bigquery,deltalake] @ git+https://github.com/ibis-project/ibis

# ML
ibisml @ git+https://github.com/ibis-project/ibisml # unused for now

# viz
plotly
streamlit

# ops
dagster
dagster-webserver
